@import '../../../../../vars.scss';

.todayWeatherInfo {
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__imgBox {
    margin-right: 20px; 
  }

  &__img {
    width: 30px;  
  }

  &__titleText {
    color: $greyText;
  }
}