@import '../../../vars.scss';

.todayWeatherInfo {
  position: relative;
  display: flex;
  z-index: 1000;

  &__bigCloud {
    position: absolute;
    top: 0;
    right: 7px;
    width: 400px;
  }

  &__titles {
    margin-right: 20px;
  }

  &__texts {
    padding-top: 12px;
    position: relative;
  }

  &__text_1 {
    margin-bottom: 47px;
    z-index: 10;
    color: var(--text-color);
  }

  &__text_2,
  &__text_3,
  &__text_4 {
    margin-bottom: 47px;
    z-index: 10;
    color: var(--text-color);
  }

  &__text_4 {
    margin-bottom: 0;
  }
}