@import '../../../../vars.scss';

.todayWeatherInfo {
  position: relative;
  padding: 42px 32px;
  @extend %card-style;

  &__bigCloud {
    position: absolute;
    top: 0;
    right: 7px;
    width: 400px;
  }

  &__titles {
    margin-right: 20px;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text_1,
  &__text_2,
  &__text_3,
  &__text_4 {
    z-index: 10;
    color: var(--text-color);
  }

  &__text_1 {
    margin-left: 20px;
  }

  &__text_2 {
    margin-left: 45px;
  }

  &__text_3 {
    margin-left: 65px;
  }

  &__text_4 {
    margin-left: 78px;
  }
}

@media (max-width: 1000px) {
  .todayWeatherInfo__bigCloud {
    display: none;
  }
}

@media (max-width: 500px) {
  .todayWeatherInfo {
    &__text {
      font-size: 15px;
    }
  }
}

@media (max-width: 424px) {
  .todayWeatherInfo {
    &__text {
      flex-direction: column;
      align-items: flex-start;
    }

    &__text_1, &__text_2, &__text_3, &__text_4 {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
