@import '../../../vars.scss';

.headerLogo {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 20px;
    color: $blueText;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
  }
}

@media (max-width: 650px) {
  .headerLogo {
    &__text {
      font-size: 20px;
    }

    &__logo {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 650px) {
  .headerLogo {
    margin-bottom: 30px;
  }
}