@import '../../../vars.scss';

.todayWeather {
  margin-bottom: 50px;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
}

@media (max-width: 846px) {
  .todayWeather {
    &__inner {
      grid-template-columns: 1fr;
      gap: 25px;
    }
  }
}
