.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 555px) {
  .header {
    flex-direction: column;
    margin-bottom: 10px;
  }
}