@import '../../../../vars.scss';

.weeklyWeatherItems {
  @extend %card-style;
  @extend %transition;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px 20px;
}

.invisible {
  opacity: 0;
  @extend %transition;
}

@media (max-width: 1080px) {
  .weeklyWeatherItems {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .weeklyWeatherItems {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 800px) {
  .weeklyWeatherItems {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .weeklyWeatherItems {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .weeklyWeatherItems {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 365px) {
  .weeklyWeatherItems {
    grid-template-columns: repeat(1, 1fr);
  }
}
